@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


:root {
    /*  Primary Color */
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /* Neutral Color */
    --Verydarkbluep: hsl(217, 54%, 11%);
    --Verydarkblues: hsl(216, 50%, 16%);
    --Verydarkblue: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    /* Fonte Family */
    --font: 'Outfit', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--Verydarkbluep);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}

.card {
    width: 300px;
    background: var(--Verydarkblues);
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
/* ================================================ */
.card .nft{
    position: relative;
    padding: 0;
    width: 88%;
    cursor: pointer;
    align-self: center;
    margin-top: 15px;
 }
  .card .nft svg{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  .card .nft:hover svg{
    display: block;
  }
  .card .nft img{
    margin: 0;
    width: 100%;
    border-radius: .5rem;
  }
  .card .nft:hover::before {
    position: absolute;
    content: '';
    inset: 0;
    border-radius: .5rem;
    background-color: hsla(178, 100%, 50%, 0.5);
  }
/* =================================================== */


.card>a {
    font-family: var(--font);
    font-weight: 600;
    color: var(--White);
    margin: 0 18px;
    text-decoration: none;
}

.card>a:hover {
    color: var(--Cyan);
}

.card>p {
    font-family: var(--font);
    font-size: 18px;
    font-weight: 300;
    color: var(--Softblue);
    margin: 0 18px;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    }

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    color: var(--Softblue);
    vertical-align: top;
}

.pr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Cyan);
}

hr {
    width: 90%;
    border: 1px solid var(--Verydarkblue);
}

.profil {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 18px 20px;
}

.profil>img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}

.profil>p {
    font-family: var(--font);
    font-size: 15px;
    font-weight: 300;
    color: var(--Softblue);
    margin: 0 18px;
}

.profil a {
    font-family: var(--font);
    font-weight: 400;
    color: var(--White);
    text-decoration: none;
}

.profil a:hover {
    color: var(--Cyan);
}